[submodule "arena_tools"]
	path = arena_tools
	url = https://github.com/voshch/arena-tools.git
	update = rebase
[submodule "arena_evaluation"]
	path = arena_evaluation
	url = https://github.com/ivaROS/arena-evaluation-6.git
	update = rebase
[submodule "arena_isaac"]
	path = arena_isaac
	url = https://github.com/Arena-Rosnav/arena-isaac
	update = rebase
[submodule "arena_training"]
	path = arena_training
	url = https://github.com/Arena-Rosnav/Arena-Training.git
	branch = main
	update = rebase
[submodule "arena_planners"]
	path = arena_planners
	url = https://github.com/ivaROS/arena_planners.git
	branch = jazzy
[submodule "arena_robots"]
	path = arena_robots
	url = https://github.com/arena-robots/arena_robots.git
	branch = jazzy
